html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: #aaa5a5;
}
.Menu {
    background-color: #009b94;
    padding: 3%;
    padding-left: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    
}
.menu {
    font-style: italic;
    font-size: large;
}
.education {
    font-style: italic
}
.experience {
    font-style: italic
}
.skills {
    font-style: italic
}
.contact_details {
    font-style: italic
}
#header {
    padding:1%;
    text-align: center;
    background-color: #007a96;
    padding-bottom: 5%;
    margin-top: 1.5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2.5%;
}
.footer {
    background-color: #007a96;
    padding: 3%;
    margin-left: 3%;
    margin-right: 2.3%;
    margin-bottom: 3%;
}
#image {
    position:relative;
    left: 40%;
    margin-top: 3%;
    border-radius: 50%;
    border: solid #ffffff;
}
#EES {
    padding: 3%;
    border-style: solid;
    border-color: #007a96;
    margin: 3%
}
#container {
    display: flex;
}