html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: #aaa5a5;
}
.Menu {
    background-color: #009b94;
    padding: 3%;
    padding-left: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    
}
.menu {
    font-style: italic;
    font-size: large;
}
.education {
    font-style: italic
}
.experience {
    font-style: italic
}
.skills {
    font-style: italic
}
#contacts {
    font-style: italic;
}
#header {
    padding:1%;
    text-align: center;
    background: white url("/image/large.jpg");
    background-repeat: none;
    background-size: cover;
    padding-bottom: 5%;
    margin-top: 1.5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2.3%;
}
footer {
    background-color: #007a96;
    padding: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    display: flex; 
}
#image {
    position:relative;
    margin-top: 3%;
    border-radius: 50%;
    border: solid #ffffff;
}
#EES {
    padding: 3%;
    border-style: solid;
    border-color: #007a96;
    margin: 3%
}
image {width: 100%;
    height: 300px;
object-fit: cover;}

@media screen and (min-width: 300px){
    body {
        background: white url(/image/future.medium.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
       font-size: small;
    }
    img {
       width: 20%;
       height: auto;
     }
   }

@media screen and (min-width: 600px){
    body {
        background: white url(/image/future.small.jpg);
        background-repeat: none;
        background-size: cover;
        background-position: center;
       font-size: medium; 
    }
    img {
       width: 20%;
       height: auto;
     }
   }

@media screen and (min-width: 768px) {
   body { 
    background: white url(/image/future2.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    font-size: large;
}
  img {
    width: 20%;
    height: auto;
  }
 }


@media screen and (min-width: 992px) {
body {
    background: white url(/image/future.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    font-size: larger;
}
img {
    width: 20%;
    height: auto;
  }
}
